* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    width: 1190px;
    height: 300px;
    background-image: url("images/background01.jpg");
    background-size: 1190px 300px;
    box-shadow: inset 1000px 1000px rgba(0, 0, 0, 0.5);
}
.header-top{
    width: 1190px;
    height: 40px;
    box-shadow: inset 1000px 1000px rgba(0, 0, 0, 0.6);
    margin: auto;
}
.header-top h1{
    font-size: 16px;
    color: #fff;
    text-align: center;
   padding-top: 13px;
}
.header-content{
    margin: auto;
    margin-top: 40px;
}
.header-content p, .header-content h1{
 text-align: center;
 color: #fff;
}
.header-content p{
    margin-top: 20px;
    font-size: 1.1em;
}
.avatar img{
    position: absolute;
    width: 200px;
    height: 200px;
    justify-content: center;
    border: 6px solid #fff;
    border-radius: 100%;
    margin-top: 50px;
}
.avatar{
    margin: auto;
    border-radius: 100%;
    width: 200px;
    height: 200px;
}
.bot{
    width: 1190px;
    height: 1500px;
    background-color: black;
    margin-top: 6px;
}
.bot-content{
    width: 810px;
    height: 600px;
    margin: auto;
    padding-top: 100px;
}
.bot-item-1, .bot-item-2, .bot-item-3, .bot-item-4{
    display: flex;
    width: 805px;
    margin: auto;
    padding-top: 5px;
    border-bottom: 2px solid #fff;
    margin-top: 60px;
}
.bot-item-1 p, .bot-item-2 p, .bot-item-3 p, .bot-item-4 p{
    color: #fff;
    align-content: center;
    padding-top: 5px;
    padding-left: 2px;
}
.bot-item-1 img, .bot-item-2 img, .bot-item-3 img, .bot-item-4 img{
   width: 26px;
   height: 26px;
}
.bot-item-2{
    margin-top: 0px;
}
.menu-1{
    background-color:black;
    width: 805px;
    height: 200px;
    margin-bottom: 0px;
    padding-top: 10px;
}
.menu-1 li{
    color: #fff;
    padding-left: 20px;
    list-style: none;
    padding-bottom: 10px;
}
.menu-2 {
    margin-top: 10px;
}
.menu-2 li{
    color: #fff;
    margin-left: 20px;
    list-style: none;
    padding-bottom: 10px;
}
.bot-item-3{
    margin-top: 0px;
}
#image{
    margin-top: 10px;
    width: 805px;
    height: 250px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    column-gap: 0px;
    row-gap: 0px;
}
#image img {
    width: 200px;
    height: 200px;
}
